#header{ /* Menu bar */
	width: 100%;height: 60px;
} 

img {
	color: transparent; /* Transparansi logo SMK */
}

* { /* Properti margin */
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
a:visited {
	text-decoration: none;
	color:white;
}
nav:visited {
	text-decoration: none;
	color:white;
}
nav { /* Untuk properti menu */
	text-align: center;
	text-decoration: none;
	width: 90%;
	height: 60px;
	border: 0px solid;
	border-color: silver;
	line-height: 60px;
	background-color: #e23636;
	opacity: 1.0;
	font-size: 20px;
}

nav li:hover { /* Untuk Hover di navbar */
    background-color: #00308f;
    opacity: 1;
	color: whitesmoke;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

nav ul li { /* Text pada menu bar */
	width: 18%;
	height: 60px;
	border: 0px solid;
	float: left;
	list-style: none;
	text-decoration: none;
	background-color: #e23636;
	color:white;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
nav ul li:hover ul {
	display: block;
}
nav ul li ul {
	display: none;
}
nav ul li ul li {
	width: 100%;
	height: 60px;
	border: 0px solid;
}
.homepageline {
	color: #B2BEB5;
}